# node modules or packages
node_modules
/node_modules
.node_modules
node_modules.
node_modules/
/node_modules/
.node_modules.
.node_modules/
/node_modules.

# environment
env
/env
.env
env.
env/
/env/
.env.
.env/
/env.
